<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AWO_Orders</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@{

    var value = HttpContextAccessor.HttpContext.Session.GetString("Login");
    var loginItem = (value != null)?Newtonsoft.Json.JsonConvert.DeserializeObject<LoginItem>(value): new LoginItem() {Right = new Models.RightModel() };
}
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">AWO - Bestellungen</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        @if (loginItem.Right != null && (loginItem.Right.CanOrder || loginItem.Right.CanProcess))
                        {

                            <li class="nav-item">
                                <div class="dropdown">
                                    <button class="dropbtn">Stammdaten</button>
                                    <div class="dropdown-content">

                                        <a class="nav-link text-dark" asp-area="" asp-page="/Location/Index">Niederlassungen</a>


                                        <a class="nav-link text-dark" asp-area="" asp-page="/Employees/Index">Mitarbeiter</a>


                                        <a class="nav-link text-dark" asp-area="" asp-page="/Rights/Index">Rechteverwaltung</a>


                                        <a class="nav-link text-dark" asp-area="" asp-page="/ArticleTypes/Index">Artikelverwaltung</a>


                                        <a class="nav-link text-dark" asp-area="" asp-page="/OrderStatus/Index">Auftragsstatus</a>
                                    </div>
                                </div>
                            </li>
                        }
                        @if (loginItem.Right != null && loginItem.Right.CanView == true)
                        {
                            <li class="nav-item">
                                <div class="dropdown">
                                    <button class="dropbtn">Bestellungen</button>
                                    <div class="dropdown-content">

                                        <a class="nav-link text-dark" asp-area="" asp-page="/Orders/Index">Übersicht</a>

                                    </div>
                                </div>
                            </li>
                        }

                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - AWO_Orders - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
