@page
@model AWO_Orders.Pages.ArticleTypes.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Artikelart</h1>

<h4>Erstellen</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ArticleTypeModel.Ident" class="control-label"></label>
                <input asp-for="ArticleTypeModel.Ident" class="form-control" />
                <span asp-validation-for="ArticleTypeModel.Ident" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ArticleTypeModel.Note" class="control-label"></label>
                <input asp-for="ArticleTypeModel.Note" class="form-control" />
                <span asp-validation-for="ArticleTypeModel.Note" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
                <input type="submit" value="CreateNext" asp-route-Next="1" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Zurück</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}