@page "/"
@page "/Orders/Index"
<b>Übersicht Bestellungen</b>
<table width="250">
    @inject AWO_Orders.Data.VOrderStatusContext context

    @foreach (var item in Models)
    {
        <tr>
            <td>
                <label class="control-label">@item.Count</label>
            </td>
            <td>
                <label class="control-label">@item.Status</label>
            </td>
            <td>
                <a href="/Orders/Index?filterStatusId=@item.Id">
                    <img alt="weiter" src="Images\eingekreist.png" />
                </a>

            </td>
        </tr>
    }
</table>

@code{

}
