@page
@model AWO_Orders.Pages.OrderPositions.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Position</h1>

<h4>Erstellen</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="OrderPosition.Description" class="control-label"></label>
                <input asp-for="OrderPosition.Description" class="form-control" />
                <span asp-validation-for="OrderPosition.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrderPosition.ArticleNumber" class="control-label"></label>
                <input asp-for="OrderPosition.ArticleNumber" class="form-control" />
                <span asp-validation-for="OrderPosition.ArticleNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrderPosition.Count" class="control-label"></label>
                <<input name="Count" id="Count" class="form-control" value="0" />
                <span asp-validation-for="OrderPosition.Count" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrderPosition.ArticleTypeId" class="control-label"></label>
                <select asp-for="OrderPosition.ArticleTypeId" class="form-control" asp-items="ViewBag.ArticleTypeId"></select>
            </div>
            <div class="form-group">
                <input asp-for="OrderPosition.OrderId" value="@Model.OrderId" type="hidden" />
                <input asp-for="OrderPosition.Number" value="@Model.Number" type="hidden" />
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index" asp-route-id="@Model.OrderId">Zurück</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}