@page
@model IndexModel
@{
    ViewData["Title"] = "AWO - Bestellungen";
}


@if (Model.SessionLoginItem.LoginFailed)
{
    <p>Login fehlgeschlagen!</p>
}
@if (Model.SessionLoginItem.EmployeeId == 0)
{
    <div class="text-left">
        <div class="row">
            <div class="col-md-4">
                <form method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label class="control-label">Name</label>
                        <input asp-for="Name" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Passwort</label>
                        <input asp-for="Password" type="password" class="form-control" />
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Login" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
}
else
{
    <table class="table">
        <tr>
            <th>
                @if (Model.SessionLoginItem.Right.CanProcess)
                {
                    <component type="typeof(AWO_Orders.Components.VOrderStatusComp)" render-mode="ServerPrerendered" />
                }
                else
                {
                    <component type="typeof(AWO_Orders.Components.VOrderStatusEmplComp)" param-EmployeeId="@Model.SessionLoginItem.EmployeeId" render-mode="ServerPrerendered" />
                }

            </th>
        </tr>
        <tr>
            <th>

                <form asp-page="./Index" method="post">
                    <div class="form-actions no-color">
                        <p>Suche [Bestellnummer]</p>
                        <p><input class="form-control" id="ordersearch" name="ordersearch" width="200" value="" /></p>
                    </div>
                </form>
            </th>
        </tr>
    </table>

}
