@page
@model AWO_Orders.Location.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Niederlassung</h1>

<h4>Bearbeiten</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="LocationModel.Id" />
            <div class="form-group">
                <label asp-for="LocationModel.Ident" class="control-label"></label>
                <input asp-for="LocationModel.Ident" class="form-control" />
                <span asp-validation-for="LocationModel.Ident" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LocationModel.Street" class="control-label"></label>
                <input asp-for="LocationModel.Street" class="form-control" />
                <span asp-validation-for="LocationModel.Street" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LocationModel.City" class="control-label"></label>
                <input asp-for="LocationModel.City" class="form-control" />
                <span asp-validation-for="LocationModel.City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LocationModel.PLZ" class="control-label"></label>
                <input asp-for="LocationModel.PLZ" class="form-control" />
                <span asp-validation-for="LocationModel.PLZ" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LocationModel.Area" class="control-label"></label>
                <input asp-for="LocationModel.Area" class="form-control" />
                <span asp-validation-for="LocationModel.Area" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LocationModel.CostCenter" class="control-label"></label>
                <input asp-for="LocationModel.CostCenter" class="form-control" />
                <span asp-validation-for="LocationModel.CostCenter" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Zurück</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}